nav(class='navigation')
  div(class='navigation-container')
    form(class='navigation-search', action='/search', method='GET')
      input(class='navigation-searchInput', name='q', type='text', placeholder='¿Qué estas buscando?')
      input(class='navigation-searchButton', type='submit', value='Buscar')
