nav(class='navigation')
  div(class='navigation-container')
    a(class='navigation-logo', href='/')
      img(class='navigation-logoImage', src='img/logo-horizontal.png')
    form(class='navigation-search', action='/search', method='GET')
      input(class='navigation-searchInput', name='q', type='text', placeholder='¿Qué estas buscando?')
      input(class='navigation-searchButton', type='submit', value='Buscar')
