# top-most editor config file
root = true

# General rules
[*]
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 4

# JavaScript rules
[**.js]
[app/jade/**.jade]
indent_style = space
indent_size = 2
