/*!
 * Navigation Component
 */

.navigation {
	margin: 0;
	padding: 1rem 0;
	box-shadow: 1px 0 2px black;
}
.navigation-container {
	align-content: center;
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}
.navigation-label {
	color:rgb(80,80,80);
	font-weight: bold;
	margin-right: 0.5rem;
}
.navigation-search {
}
/*!
 * Carrousel Component
 */

.carrousel {
	margin: 0 auto;
	padding: 0;
}
.carrousel-container {
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}
.carrousel-title {
	text-align: center;
}
.carrousel-row {
	background-color: rgb(240,240,240);
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 0 0.5rem;
}
.carrousel-arrow {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgb(200,200,200);
	border: 1px solid rgb(170, 170, 170);
}
.carrousel-books {
	display: block;
	list-style: none;
	margin: 0 1rem;
	padding: 0;
	width: 800px;
}
.carrousel-book {
	display: inline-block;
}
.carrousel-bookLink {
	display: block;
}
.carrousel-bookImage {
	background-color: red;
	height: 200px;
	width: 150px;
}
/*!
 * Categories Component
 */


.categories {
	margin: 0 auto;
	padding: 0;

}
.categories-container {
	margin: 0 auto;
	padding: 0;
	padding-top: 100px;
	width: 1000px;
}
.cat-containerLeft {
	margin: 0px;
	padding: 0px;
	width: 469px;
	float: left;
}

.cat-link {
	margin-left: 15px;
}
#cat-art {
	background-color: red;
	height: 371px;
	width: 464px;
}
#cat-fiction {
	background-color: red;
	display: inline-block;
	height: 209px;
	width: 231px;	
}
#cat-psico {
	background-color: red;
	display: inline-block;
	height: 209px;
	width: 231px;
}
.cat-containerRight {
	width: 466px;
	float: right;	
}
#cat-ciencia {
	background-color: green;
	display: inline-block;
	height: 230px;
	width: 231px;

}
#cat-historia {
	background-color: green;
	display: inline-block;
	height: 230px;
	width: 231px;

}
#cat-novela {
	background-color: green;
	display: inline-block;
	height: 109px;
	width: 231px;
}
#cat-ingles {
	background-color: blue;
	display: inline-block;
	height: 351px;
	width: 231px;
}
#cat-mate {
	background-color: blue;
	display: inline-block;
	height: 230px;
	width: 231px;
}
.cat-containerExtraright {
	width: 

}