/*!
 * Navigation Component
 */
.navigation {
	margin: 0;
	padding: 1rem 0;
	box-shadow: 1px 0 2px black;
}
.navigation-container {
	align-content: center;
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}
.navigation-logo,
.navigation-logoImage {
	height: auto;
	width: 100px;
}
.navigation-label {
	color:rgb(80,80,80);
	font-weight: bold;
	margin-right: 0.5rem;
}
.navigation-search {
}
.navigation-searchInput {
	border: 1px solid rgb(200, 200, 200);
	border-radius: 0.25rem;
	margin: 0 0.25rem;
	padding: 0.5rem;
}
.navigation-searchButton {
	background-color: rgb(220, 220, 220);
	border: 1px solid rgb(200, 200, 200);
	border-radius: 0.25rem;
	padding: 0.5rem;
}
/*!
 * Carrousel Component
 */

.carrousel {
	margin: 4rem auto;
	padding: 0;
}
.carrousel-container {
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}
.carrousel-title {
	text-align: center;
}
.carrousel-row {
	background-color: rgb(240,240,240);
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 0;
	padding: 4rem 0;
}
.carrousel-arrow {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgb(200,200,200);
	border: 1px solid rgb(170, 170, 170);
}
.carrousel-books {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0 1rem;
	padding: 0;
	width: 800px;
}
.carrousel-book {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}
.carrousel-bookLink {
	display: block;
}
.carrousel-bookName {
	font-weight: bold;
	line-height: 1;
	margin: 0.5rem 0;
	text-align: center;
}
.carrousel-bookImage {
	background-color: red;
	height: 200px;
	width: 150px;
}
/*!
 * Category component (michell)
 * ======================================
 */
.category {
	margin: 4rem;
	padding: 0;
}
.category-container {
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}
.category-title {
	text-align: center;
}
.category-half {
	display: inline-block;
	vertical-align: middle;
	width: 490px;
}
.category-bigLink {
	background-color: rgb(200, 80, 150);
	border-radius: 0.5rem;
	color: rgb(250, 250, 250);
	display: block;
	font-size: 1.5rem;
	font-weight: bold;
	height: 300px;
	line-height: 300px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-shadow: 1px 0 2px rgb(100, 100, 100);
	text-decoration: none;
	width: 490px;
}
.category-middleLink {
	background-color: rgb(80, 200, 150);
	border-radius: 0.5rem;
	color: rgb(250, 250, 250);
	display: block;
	font-size: 1.5rem;
	font-weight: bold;
	height: 145px;
	line-height: 145px;
	margin: 0 0 0.125rem 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	width: 490px;
}
.category-littleLink {
	border-radius: 0.5rem;
	color: rgb(250, 250, 250);
	display: inline-block;
	height: 145px;
	line-height: 145px;
	margin: 0.125rem 0 0 0;
	text-align: center;
	text-decoration: none;
	width: 242px;
}
.category-bigLink:hover,
.category-littleLink:hover,
.category-middleLink:hover {
	text-decoration: underline;
}
.category-littleLink:first-child {
	background-color: rgb(80, 150, 200);
}
.category-littleLink:last-child {
	background-color: rgb(200, 150, 80);
}
/*!
 * Hero component
 */
.hero {
	margin: 0;
	padding: 10rem 0;
	text-shadow: 2px 2px 2px rgb(100, 100, 100);
}
.hero.one {
	background: url(../img/hero-one.jpg) no-repeat center center;
  background-size: cover;
}
.hero.two {
	background: url(../img/hero-two.jpg) no-repeat center center;
	background-size: cover;
}
.hero-text {
	color: rgb(250, 250, 250);
	font-size: 1.75rem;
	text-shadow: 1px 0 1px rgb(100, 100, 100);
	text-align: center;
}
/*!
 * Footer component
 */
.footer {
	background-color: rgb(60, 60, 60);
	height: 40px;
	margin: 0 auto;
	padding: 0;
}
/*!
 * Results component
 */
.results {
	margin: 0 auto 2rem 0;
	padding: 0;
}
.results-container {
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}
/*!
 * Book Component
 */
.book {
	border: 1px solid rgb(230, 230, 230);
	box-sizing: border-box;
	margin: 0 auto;
	padding: 1rem;
}
.book:nth-child(2n+1) {
	background-color: rgb(245, 245, 245);
}
.book-cover {
	background: url(../img/covers/traveler-one.jpg) center;
	box-shadow: 1px 0 4px rgb(80, 80, 80);
	display: inline-block;
	height: 140px;
	width: 110px;
}
.book-description {
	display: inline-block;
	margin: 0;
	padding: 0 1rem;
	vertical-align: top;
}
.book-descriptionTitle {
	margin: 0;
}
.book-descriptionButton {
	background-color: rgb(100, 150, 200);
	border: 1px solid rgb(80, 130, 180);
	border-radius: 0.25rem;
	color: rgb(250, 250, 250);
	font-weight: bold;
	padding: 0.5rem;
}
