doctype html
html
head
	meta(charset='UTF-8')
	title Bookshares
	link(rel='stylesheet', type='text/css', href='css/normalize.css')
	link(rel='stylesheet', type='text/css', href='css/styles.css')
body
	main
		nav(class='navigation')
			div(class='navigation-container')
				label(class='navigation-label')	¿Qué estás buscando?

				form(class='navigation-search', action='/search', method='GET')
					input(class='navigation-searchInput', name='q', type='text')
					input(class='navigation-searchButton', type='submit', value='Buscar')

		article(class='carrousel')
			div(class='carrousel-container')
				h2(class='carrousel-title') Lo más buscado
				div(class='carrousel-row')
					a(class='carrousel-arrow' href='#')
					ul(class='carrousel-books')
						li(class='carrousel-book')
							a(class='carrousel-bookLink')
								img(class='carrousel-bookImage')
							p(class='carrousel-bookName') Traveller
						li(class='carrousel-book')
							a(class='carrousel-bookLink')
								img(class='carrousel-bookImage')
							p(class='carrousel-bookName') World English
						li(class='carrousel-book')
							a(class='carrousel-bookLink') 
								img(class='carrousel-bookImage')
							p(class='carrousel-bookName') Fast
						li(class='carrousel-book')
							a(class='carrousel-bookLink')
								img(class='carrousel-bookImage')
							p(class='carrousel-bookName') Canek
						li(class='carrousel-book')
							a(class='carrousel-bookLink') 
								img(class='carrousel-bookImage')
							p(class='carrousel-bookName') Traveller
					a(class='carrousel-arrow')
